---
import Button from "./common/Button.astro";
---

<div
  id="install-pwa"
  class="fixed bottom-20 left-1/2 -translate-x-1/2 transform hidden"
>
  <div class="bg-white rounded-lg shadow-lg p-4 flex items-center gap-4">
    <div>
      <h3 class="font-semibold mb-1">Installer Decival</h3>
      <p class="text-sm text-gray-600">
        Accédez à l'application même hors ligne
      </p>
    </div>
    <Button id="install-button" variant="primary" size="md"> Installer </Button>
  </div>
</div>

<script>
  let deferredPrompt;

  window.addEventListener("beforeinstallprompt", (e) => {
    e.preventDefault();
    deferredPrompt = e;
    const installPWA = document.getElementById("install-pwa");
    installPWA?.classList.remove("hidden");
  });

  document
    .getElementById("install-button")
    ?.addEventListener("click", async () => {
      if (!deferredPrompt) return;

      deferredPrompt.prompt();
      const result = await deferredPrompt.userChoice;

      if (result.outcome === "accepted") {
        const installPWA = document.getElementById("install-pwa");
        installPWA?.classList.add("hidden");
      }

      deferredPrompt = null;
    });
</script>
