---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
  title: string;
  currentPage?: string;
}

const { title, currentPage = "home" } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-gray-50">
    <Header />
    <div class="pt-16 pb-16">
      <slot />
    </div>
    <Footer currentPage={currentPage} />
  </body>
</html>

<style is:global>
  :root {
    --accent: 136, 58, 234;
  }

  html {
    font-family: system-ui, sans-serif;
    background: #f6f6f6;
  }

  body {
    margin: 0;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
