---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import InstallPWA from "../components/InstallPWA.astro";

interface Props {
  title: string;
  currentPage?: string;
}

const { title, currentPage = "home" } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- PWA tags -->
    <meta name="theme-color" content="#4f46e5" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="Decival" />

    <!-- PWA manifest -->
    <link rel="manifest" href="/manifest.webmanifest" />

    <!-- iOS icons -->
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="96x96" href="/icons/icon-96x96.png" />
    <link
      rel="apple-touch-icon"
      sizes="128x128"
      href="/icons/icon-128x128.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/icons/icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/icons/icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="192x192"
      href="/icons/icon-192x192.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="384x384"
      href="/icons/icon-384x384.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="512x512"
      href="/icons/icon-512x512.png"
    />
  </head>
  <body class="min-h-screen bg-gray-50">
    <Header />
    <div class="pt-16 pb-16">
      <slot />
    </div>
    <Footer currentPage={currentPage} />
    <InstallPWA />
  </body>
</html>

<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-hover: 124, 58, 237;
    --accent-active: 109, 40, 217;
  }

  html {
    font-family: system-ui, sans-serif;
    background: #f6f6f6;
  }

  body {
    margin: 0;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
